:root {
  --color-color-error-error-100: #ffdbdc;
  --color-color-error-error-200: #ffb7b9;
  --color-color-error-error-300: #ff9497;
  --color-color-error-error-400: #ff7074;
  --color-color-error-error-500: #ff4c51;
  --color-color-error-error-600: #e64449;
  --color-color-error-error-700: #d94145;
  --color-color-error-error-800: #cc3d41;
  --color-color-error-error-900: #bf393d;
  --color-color-gray-gray-100: #394044;
  --color-color-gray-gray-200: #4b545a;
  --color-color-gray-gray-300: #616c74;
  --color-color-gray-gray-400: #7c8a94;
  --color-color-gray-gray-500: #8898a3;
  --color-color-gray-gray-600: #a0adb5;
  --color-color-gray-gray-700: #afbac1;
  --color-color-gray-gray-800: #c8d0d5;
  --color-color-gray-gray-900: #dadfe2;
  --color-color-info-info-100: #c8d8ff;
  --color-color-info-info-200: #adc6ff;
  --color-color-info-info-300: #88abff;
  --color-color-info-info-400: #719bff;
  --color-color-info-info-500: #4d82ff;
  --color-color-info-info-600: #4676e8;
  --color-color-info-info-700: #375cb5;
  --color-color-info-info-800: #2a488c;
  --color-color-info-info-900: #20376b;
  --color-color-primary-ayita-primary-100: #571d2c;
  --color-color-primary-ayita-primary-200: #722739;
  --color-color-primary-ayita-primary-300: #94324a;
  --color-color-primary-ayita-primary-400: #bd405f;
  --color-color-primary-ayita-primary-500: #d04668;
  --color-color-primary-ayita-primary-600: #d96b86;
  --color-color-primary-ayita-primary-700: #e0839a;
  --color-color-primary-ayita-primary-800: #e9aaba;
  --color-color-primary-ayita-primary-900: #f0c6d0;
  --color-color-primary-pamola-primary-100: #1d2b4a;
  --color-color-primary-pamola-primary-200: #263961;
  --color-color-primary-pamola-primary-300: #31497e;
  --color-color-primary-pamola-primary-400: #3f5ea1;
  --color-color-primary-pamola-primary-500: #4567b1;
  --color-color-primary-pamola-primary-600: #6a85c1;
  --color-color-primary-pamola-primary-700: #8299cb;
  --color-color-primary-pamola-primary-800: #a9b9db;
  --color-color-primary-pamola-primary-900: #c5d0e7;
  --color-color-secondary-secondary-100: #e8e8e9;
  --color-color-secondary-secondary-200: #d0d1d4;
  --color-color-secondary-secondary-300: #b9bbbe;
  --color-color-secondary-secondary-400: #a1a4a9;
  --color-color-secondary-secondary-500: #8a8d93;
  --color-color-secondary-secondary-600: #7c7f84;
  --color-color-secondary-secondary-700: #75787d;
  --color-color-secondary-secondary-800: #6e7176;
  --color-color-secondary-secondary-900: #686a6e;
  --color-color-success-success-100: #b0dabc;
  --color-color-success-success-200: #8ac99b;
  --color-color-success-success-300: #54b06e;
  --color-color-success-success-400: #33a151;
  --color-color-success-success-500: #008926;
  --color-color-success-success-600: #007d23;
  --color-color-success-success-700: #00611b;
  --color-color-success-success-800: #004b15;
  --color-color-success-success-900: #00aa2f;
  --color-color-warning-warning-100: #fff0cc;
  --color-color-warning-warning-200: #ffe199;
  --color-color-warning-warning-300: #ffd266;
  --color-color-warning-warning-400: #ffc333;
  --color-color-warning-warning-500: #ffb400;
  --color-color-warning-warning-600: #e6a200;
  --color-color-warning-warning-700: #d99900;
  --color-color-warning-warning-800: #cc9000;
  --color-color-warning-warning-900: #bf8700;
  --color-opacity-color-error-error-16: rgba(255, 76, 81, 0.16);
  --color-opacity-color-error-error-24: rgba(255, 76, 81, 0.24);
  --color-opacity-color-error-error-32: rgba(255, 76, 81, 0.32);
  --color-opacity-color-error-error-38: rgba(255, 76, 81, 0.38);
  --color-opacity-color-error-error-8: rgba(255, 76, 81, 0.08);
  --color-opacity-color-gray-gray-16: rgba(192, 231, 251, 0.16);
  --color-opacity-color-gray-gray-24: rgba(192, 231, 251, 0.24);
  --color-opacity-color-gray-gray-32: rgba(192, 231, 251, 0.32);
  --color-opacity-color-gray-gray-38: rgba(192, 231, 251, 0.38);
  --color-opacity-color-gray-gray-8: rgba(192, 231, 251, 0.08);
  --color-opacity-color-info-info-16: rgba(77, 130, 255, 0.16);
  --color-opacity-color-info-info-24: rgba(77, 130, 255, 0.24);
  --color-opacity-color-info-info-32: rgba(77, 130, 255, 0.32);
  --color-opacity-color-info-info-38: rgba(77, 130, 255, 0.38);
  --color-opacity-color-info-info-8: rgba(77, 130, 255, 0.08);
  --color-opacity-color-primary-ayita-primary-16: rgba(208, 70, 104, 0.16);
  --color-opacity-color-primary-ayita-primary-24: rgba(208, 70, 104, 0.24);
  --color-opacity-color-primary-ayita-primary-32: rgba(208, 70, 104, 0.32);
  --color-opacity-color-primary-ayita-primary-38: rgba(208, 70, 104, 0.38);
  --color-opacity-color-primary-ayita-primary-8: rgba(208, 70, 104, 0.08);
  --color-opacity-color-primary-pamola-primary-16: rgba(7, 72, 176, 0.16);
  --color-opacity-color-primary-pamola-primary-24: rgba(7, 72, 176, 0.24);
  --color-opacity-color-primary-pamola-primary-32: rgba(7, 72, 176, 0.32);
  --color-opacity-color-primary-pamola-primary-38: rgba(7, 72, 176, 0.38);
  --color-opacity-color-primary-pamola-primary-8: rgba(7, 72, 176, 0.08);
  --color-opacity-color-secondary-secondary-16: rgba(138, 141, 147, 0.16);
  --color-opacity-color-secondary-secondary-24: rgba(138, 141, 147, 0.24);
  --color-opacity-color-secondary-secondary-32: rgba(138, 141, 147, 0.32);
  --color-opacity-color-secondary-secondary-38: rgba(138, 141, 147, 0.38);
  --color-opacity-color-secondary-secondary-8: rgba(138, 141, 147, 0.08);
  --color-opacity-color-success-success-16: rgba(0, 170, 47, 0.16);
  --color-opacity-color-success-success-24: rgba(0, 170, 47, 0.24);
  --color-opacity-color-success-success-32: rgba(0, 170, 47, 0.32);
  --color-opacity-color-success-success-38: rgba(0, 170, 47, 0.38);
  --color-opacity-color-success-success-8: rgba(0, 170, 47, 0.08);
  --color-opacity-color-warning-warning-16: rgba(255, 180, 0, 0.16);
  --color-opacity-color-warning-warning-24: rgba(255, 180, 0, 0.24);
  --color-opacity-color-warning-warning-32: rgba(255, 180, 0, 0.32);
  --color-opacity-color-warning-warning-38: rgba(255, 180, 0, 0.38);
  --color-opacity-color-warning-warning-8: rgba(255, 180, 0, 0.08);
}
